<header>
    <nav>
        <div class="logo">
            <h1>Noti<span>Cidade</span></h1>
        </div>

        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/noticia/ver">Notícias</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="/noticia/gerenciar">Gerenciar Notícias</a></li>
                <li><a href="#">Gerenciar Usuários</a></li>
                <li><a href="#">Fazer Login</a></li>
            </ul>
        </div>

        <div class="barra-pesquisa">
            <form action="/buscar" method="GET">
                <input class="bar-search" type="search" name="query" placeholder="Pesquisar...">
            </form>
        </div>
    </nav>
</header>

<section class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path 
            fill="#3CB371" fill-opacity="1" 
            d="M0,128L48,128C96,128,192,128,288,128C384,128,480,128,576,144C672,160,768,192,864,181.3C960,171,1056,117,1152,96C1248,75,1344,85,1392,90.7L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z" 
        />
    </svg>
</section>